<template name="home">
	{{> nav}}
	<div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <form class="signup_form">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="logo"></span>
                        </div>
                        <div class="panel-body top-margin-15">
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                                    <input type="text"  class="form-control" id="signupUsername" placeholder="用户名">
                                </div>
                            </div>
                            <!--<div class="form-group col-lg-12">-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>-->
                                    <!--<input type="text"  class="form-control" id="signupTenantGroup" placeholder="商家名">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                                    <input type="password" name="" class="form-control" id="signupPassword" placeholder="密码">
                                </div>
                            </div>
                             <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                                    <input type="password" name="" class="form-control" id="signupConfirmPassword" placeholder="确认密码">
                                </div>
                            </div>


                        </div>
                        <div class="panel-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <button type="submit" class="btn btn-primary btn-block">注册</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>
