<template name="password_reset">
    {{> nav}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <form class="reset_password_form">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="logo"></span>
                        </div>
                        <div class="panel-body top-margin-15">
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                                    <select id="select_user" class="form-control">
                                        <option value="请选择用户" disabled selected>请选择用户</option>
                                        {{#each get_users}}
                                            <option name="users" value="{{username}}">{{username}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                                    <input type="password" name="" class="form-control" id="new_login_password" placeholder="前台密碼">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                                    <input type="password" name="" class="form-control" id="new_validCode" placeholder="後台密碼">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <button type="button" id="submit_change_password" class="btn btn-primary btn-block">更改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">-->
                <!--<form class="reset_password_form">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<span class="logo"></span>-->
                        <!--</div>-->
                        <!--<div class="panel-body top-margin-15">-->
                            <!--<div class="form-group col-lg-12">-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>-->
                                    <!--<select id="select_user" class="form-control">-->
                                        <!--<option value="请选择用户" disabled selected>请选择用户</option>-->
                                        <!--{{#each get_users}}-->
                                            <!--<option name="users" value="{{username}}">{{username}}</option>-->
                                        <!--{{/each}}-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-lg-12">-->
                                <!--<div class="input-group">-->

                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-lg-12">-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>-->
                                    <!--<input type="password" name="" class="form-control" id="new_validCode" placeholder="後台密碼">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<div class="container-fluid">-->
                                <!--<div class="row">-->
                                    <!--<button type="button" id="submit_change_password" class="btn btn-primary btn-block">更改</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</template>