<template name="uploadimage">
    {{> nav}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <form class="information_form">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="logo"></span>
                        </div>
                        <div class="panel-body top-margin-15">
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                                    <select id="select_user" class="form-control">
                                        <option value="请选择用户" disabled selected>请选择用户</option>
                                        {{#each get_users}}
                                            <option value="{{username}}">{{username}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="validCode" placeholder="後台密碼">
                                </div>
                            </div>                            
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="signupCnName" placeholder="中文名称">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="signupEnName" placeholder="英文名称">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="signupAddress" placeholder="地址">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
                                    <input readonly type="text" name="" class="form-control" id="timezone" placeholder="时区">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="latitude" placeholder="纬度(latitude)">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="longitude" placeholder="经度(longitude)">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="signupCity" placeholder="城市">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="signupProvince" placeholder="省份">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="signupPhone" placeholder="电话号码">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                                    <input type="text" name="" class="form-control" id="signupDesc" placeholder="商店简述">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <label>
                                        <h5><b>易食网:</b></h5>
                                    </label>
                                    <input type="checkbox" id="eatmeals">
                                </div>
                            </div>
                            {{#if eatmeals_able}}
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <label>
                                        <h5><b>合作商家:</b></h5>
                                    </label>
                                    <input type="checkbox" id="eatmeals_pay">
                                </div>
                            </div>
                            {{/if}}
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <label><h5><b>商店徽标</b></h5></label>
                                    <input type="file" class="file_bag" id="file_upload_logo">
                                </div>
                                <div>
                                    <img src={{logo}} width="100">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <label><h5><b>商店照片2</b></h5></label>
                                    <input type="file" class="file_bag" id="file_upload_photo1">
                                </div>
                                <div>
                                <img src={{image1}} width="100">
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <label><h5><b>商店照片2</b></h5></label>
                                    <input type="file" class="file_bag" id="file_upload_photo2">
                                </div>
                                <div>
                                <img src={{image2}} width="100">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <button type="button" id="submit_profile" class="btn btn-primary btn-block">注册图标</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>