/*Custom Button Styles*/
.btn-default {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.btn-default:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


.btn-default:active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.btn-primary {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,323232+50,282828+51,434343+100 */
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #323232 50%, #282828 51%, #434343 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#323232 50%,#282828 51%,#434343 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#323232 50%,#282828 51%,#434343 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#434343',GradientType=0 ); /* IE6-9 */
	border-color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.btn-primary:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d6d6d+0,484848+50,393939+51,606060+100 */
	background: #6d6d6d; /* Old browsers */
	background: -moz-linear-gradient(top,  #6d6d6d 0%, #484848 50%, #393939 51%, #606060 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #6d6d6d 0%,#484848 50%,#393939 51%,#606060 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #6d6d6d 0%,#484848 50%,#393939 51%,#606060 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#606060',GradientType=0 ); /* IE6-9 */
	border-color: rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-success {
	background: rgb(84,210,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(84,210,153,1) 0%, rgba(42,186,143,1) 50%, rgba(0,170,125,1) 51%, rgba(45,203,153,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(84,210,153,1) 0%,rgba(42,186,143,1) 50%,rgba(0,170,125,1) 51%,rgba(45,203,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(84,210,153,1) 0%,rgba(42,186,143,1) 50%,rgba(0,170,125,1) 51%,rgba(45,203,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54d299', endColorstr='#2dcb99',GradientType=0 ); /* IE6-9 */
}

.btn-success:hover {
	background: rgb(89,211,160); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(89,211,160,1) 0%, rgba(43,193,153,1) 50%, rgba(0,180,138,1) 51%, rgba(47,209,163,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(89,211,160,1) 0%,rgba(43,193,153,1) 50%,rgba(0,180,138,1) 51%,rgba(47,209,163,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(89,211,160,1) 0%,rgba(43,193,153,1) 50%,rgba(0,180,138,1) 51%,rgba(47,209,163,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59d3a0', endColorstr='#2fd1a3',GradientType=0 ); /* IE6-9 */
}

.btn-danger {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efc5ca+0,d24b5a+50,ba2737+51,f18e99+100;Red+Gloss+%233 */
	background: #efc5ca; /* Old browsers */
	background: -moz-linear-gradient(top,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
}

.btn-danger-hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3d3d7+0,dd7783+50,da4c5d+51,f4aab2+100 */
	background: #f3d3d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3d3d7 0%, #dd7783 50%, #da4c5d 51%, #f4aab2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f3d3d7 0%,#dd7783 50%,#da4c5d 51%,#f4aab2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f3d3d7 0%,#dd7783 50%,#da4c5d 51%,#f4aab2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3d3d7', endColorstr='#f4aab2',GradientType=0 ); /* IE6-9 */
}

.btn-warning {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fac692+0,fc982e+50,e07400+51,fab56c+100 */
	background: #fac692; /* Old browsers */
	background: -moz-linear-gradient(top,  #fac692 0%, #fc982e 50%, #e07400 51%, #fab56c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fac692 0%,#fc982e 50%,#e07400 51%,#fab56c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fac692 0%,#fc982e 50%,#e07400 51%,#fab56c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac692', endColorstr='#fab56c',GradientType=0 ); /* IE6-9 */
}

.btn-warning:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcdcbc+0,fca84e+50,f88000+51,fbc993+100 */
	background: #fcdcbc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcdcbc 0%, #fca84e 50%, #f88000 51%, #fbc993 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fcdcbc 0%,#fca84e 50%,#f88000 51%,#fbc993 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fcdcbc 0%,#fca84e 50%,#f88000 51%,#fbc993 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdcbc', endColorstr='#fbc993',GradientType=0 ); /* IE6-9 */
}

.btn-info {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.btn-info:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3380d7+0,60a7e2+50,4d9de3+51,9ecbee+100 */
	background: #3380d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #3380d7 0%, #60a7e2 50%, #4d9de3 51%, #9ecbee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3380d7 0%,#60a7e2 50%,#4d9de3 51%,#9ecbee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3380d7 0%,#60a7e2 50%,#4d9de3 51%,#9ecbee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3380d7', endColorstr='#9ecbee',GradientType=0 ); /* IE6-9 */
}

.alert-warning {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5bc93+0,eb6f17+50,be570e+51,f8a162+100 */
	background: #f5bc93; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5bc93 0%, #eb6f17 50%, #be570e 51%, #f8a162 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f5bc93 0%,#eb6f17 50%,#be570e 51%,#f8a162 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f5bc93 0%,#eb6f17 50%,#be570e 51%,#f8a162 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5bc93', endColorstr='#f8a162',GradientType=0 ); /* IE6-9 */
}

.alert-danger {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#826646+0,57432d+50,463522+51,7c5a34+100 */
	background: #826646; /* Old browsers */
	background: -moz-linear-gradient(top,  #826646 0%, #57432d 50%, #463522 51%, #7c5a34 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #826646 0%,#57432d 50%,#463522 51%,#7c5a34 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #826646 0%,#57432d 50%,#463522 51%,#7c5a34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826646', endColorstr='#7c5a34',GradientType=0 ); /* IE6-9 */
}

/*General Styles*/
body {
	background-image:url("../img/bg01.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

html, body {
	height: 100%;
}

.isometric-bg {
	position: fixed;
	width: 100%;
	height: 100%;
}

#direction-1 {
	background: repeating-linear-gradient( 30deg, rgba(96,109,188,0.35), rgba(96,109,188,0.35) 50px, rgba(70,82,152,0.35) 50px, rgba(70,82,152,0.35) 100px );
	position: absolute;
	width: 100%;
	height: 100%;
}

#direction-2 {
	background: repeating-linear-gradient( -30deg, rgba(96,109,188,0.35), rgba(96,109,188,0.35) 50px, rgba(70,82,152,0.35) 50px, rgba(70,82,152,0.35) 100px );
	position: absolute;
	width: 100%;
	height: 100%;
}

.logo {
	background-image: url('/img/logo.png');
	width: 60%;
	height: 100px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
}

.login_form, .signup_form{
	margin-top: 15vh;
}

.reset_password_form, .information_form {
	margin-top: 10vh;
}

.information_form select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

a, a:hover, a:active, a:focus {
	color:#222222;
	text-decoration: none;
}

.full-height {
	height: 100%;
}

.clearfix {
	clear: both;
}

.page-header {
	background-color: #59291B;
	border-color: #59291B;
	padding: 20px;
	color: white;
	border-radius: 5px 5px 0 0;
	margin: 0;
}

.modal-content {
	background-color: #e2e2e2;
	border-radius: 5px;
}

.table-responsive {
	font-size: 18px;
	border: none;
}

.content {
	background-color: rgba(255,255,255,0.6);
	position: absolute;
	width: 100%;
	top: 45px;
	bottom: 59px;
	overflow: auto;
}

.content-no-footer {
	background-color: rgba(255,255,255,0.6);
	position: absolute;
	width: 100%;
	top: 45px;
	overflow: auto;
}

.container {
	padding: 20px;
	width: 100%;
}

.action-buttons {
	position: fixed;
	bottom: 0;
	padding: 0;
}

.btn-action span {
	font-size: 18px;
}

.btn-take-out {
	height: 39px;
}

.btn-nostyles {
	background: none;
	border: none;
}

.input-group-addon {
	font-size: 15px;
	padding: 5px 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.tab-content .row {
	padding: 10px;
	padding-bottom: 20px;
	background: white;
	border: 1px solid #ddd;
	border-top: none;
}


/*Custom Spacing*/
.nopadding {
	padding:0!important;
}

.nomargin {
	margin:0!important;
}

.margin-10 {
	margin: 10px;
}

.top-margin-15 {
	margin-top: 15px;
}

.top-margin-20 {
	margin-top: 20px;
}

.top-margin-responsive {
	position: relative;
	top: 65px;
}

.padding-top {
	padding-top: 15px;
}




/*Login Page Styles*/
.login-form {
	margin: 30% 0;
}

.login-form>.panel, .item {
	border-radius: 5px;
	box-shadow: 0 0 8px 0px #A1A1A1;
}

.login-form .panel-heading {
	background-image: url('/img/login-header-bg.jpg');
	background-size: cover;
	background-position: top center;
}

.login-form .panel-footer {
	background-image: url('/img/login-header-bg.jpg');
	background-size: cover;
	background-position: bottom center;
}


/*Landing Page Styles*/
.landing-form {
	width: 500px;
}



/*POS Page Styles*/
.square-table-container {
	width: 100%;
	height:0;
	padding-bottom: 100%;
	border-radius: 5px;
	overflow:hidden;
	box-shadow: 0 0 3px gray;
	margin: 10px 0;
}
.square-table {
	width:100%;
	padding-top:50%;
	padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
	text-decoration:none;
}

.rectangle-table-h-container {
	width: 100%;
	height: 100px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 3px gray;
	margin: 10px 0;
}
.rectangle-table-h {
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.rectangle-table-v-container {
	width: 100%;
	height:200px;
	border-radius: 5px;
	overflow:hidden;
	box-shadow: 0 0 3px gray;
	margin: 10px 0;
}
.rectangle-table-v {
	width:100%;
	height:100%;
	text-decoration:none;
}

.round-table-container {
	width: 100%;
	height:0;
	padding-bottom: 100%;
	border-radius: 50%;
	overflow:hidden;
	box-shadow: 0 0 3px gray;
	margin: 10px 0;
}
.round-table {
	width:100%;
	padding-top:50%;
	padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
	text-decoration:none;
}

.table-square:hover, .table-square-occupied:hover, .table-square-served:hover, .table-round:hover, .table-round-occupied:hover, .table-round-served:hover, .table-long:hover, .table-long-occupied:hover, .table-long-served:hover {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	position: relative;
	top: -10px;
}


.table-square {
	background-image: url('/img/table-square.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 70%;
	padding-top: 50%;
	padding-bottom: 50%;
	margin: 0 auto;
}

.table-square-occupied {
	background-image: url('/img/table-square-occupied.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 70%;
	padding-top: 50%;
	padding-bottom: 50%;
	margin: 0 auto;
}

.table-square-served {
	background-image: url('/img/table-square-served.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	padding-top: 50%;
	padding-bottom: 50%;
}

.table-round {
	background-image: url('/img/table-round.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 70%;
	padding-top: 50%;
	padding-bottom: 50%;
	margin: 0 auto;
}

.table-round-occupied {
	background-image: url('/img/table-round-occupied.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 70%;
	padding-top: 50%;
	padding-bottom: 50%;
	margin: 0 auto;
}

.table-round-served {
	background-image: url('/img/table-round-served.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	padding-top: 50%;
	padding-bottom: 50%;
}

.table-long {
	background-image: url('/img/table-long.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 60%;
	padding-top: 40%;
	padding-bottom: 40%;
	margin: 0 auto;
}

.table-long-occupied {
	background-image: url('/img/table-long-occupied.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 60%;
	padding-top: 40%;
	padding-bottom: 40%;
	margin: 0 auto;
}

.table-long-served {
	background-image: url('/img/table-long-served.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	padding-top: 40%;
	padding-bottom: 40%;
}

.table-no {
	font-size: 1.2em;
	color: #f9f9f9;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}


.btn-block-container {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 3px gray;
	margin: 10px 0;
}




.pos_side_button {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 60px;
	width: 60px;
	font-size: 1.5em;
}

.control_button {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.5em;
	text-align: center;
}

.table-btn-a {
	height: 60px;
	margin: 5px;
	border-radius: 10px;
}

.table-btn-c {
	margin: 5px;
	margin-left: 20px;
	margin-right: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.table-btn-b1 {
	margin: 5px;
	margin-left: 20px;
	height: 100px;
	width: 200px;
	border-radius: 10px;
}

.table-btn-b2 {
	margin: 5px;
	margin-left: 10px;
	margin-right: 10px;
	height: 200px;
	width: 100px;
	border-radius: 10px;
}

.table-btn-t {
	margin: 10px;
	height: 60px;
	width: 60px;
	border-radius: 5px;
}

.numpad {
	font-size: 2.5em;
	height: 100px;
}

.numpad-del {
	font-size: 2.5em;
	height: 100px;
}

.paytypebtn {
	font-size: 2em;
	height: 60px;
	border-radius: 5px;
}





/*Menu Category Page Styles*/
.price {
	font-weight:bold;
	padding:15px 15px 0 15px;
}



/*Order Details Page Styles*/
.order-table-header, .order-price-total {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#393939+0,252525+50,1d1d1d+51,323232+100 */
	background: #393939; /* Old browsers */
	background: -moz-linear-gradient(top,  #393939 0%, #252525 50%, #1d1d1d 51%, #323232 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #393939 0%,#252525 50%,#1d1d1d 51%,#323232 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #393939 0%,#252525 50%,#1d1d1d 51%,#323232 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393939', endColorstr='#323232',GradientType=0 ); /* IE6-9 */
	color: #f9f9f9;
	border-color: #393939;

}

.order-notes {
	background-color: rgba(251, 252, 236, 0.8);
	border-bottom: 6px solid #B9B9B9;
}

.fenmiantab {
	width: 20%;
}

#fenmiancancel, #specreqcancel {
	margin-right: 10px;
}

.menu-tabs>li>a {
	background-color: #3e3e3e;
	color: #fdfdfd;
}

.fenmian_selected, .fenmian_selected:active, .fenmian_selected:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}



/*Main Layout Styles*/
form {
	margin: 0;
}

.specreqbtn {
	width: 9%;
	height: 50px;
	font-size:1.5em;
}

.specreqbtn:active{
	background: #ffff1a !important;
}

.specreqbtn2 {
	width: 6%;
	height: 50px;
	padding-left:0;
	font-size:1em;
}

.specreqbtn2:active{
	background: #ffff1a !important;
}

.specreqtitle {
	width:8%;
	float:left;
	font-size:2em;
	text-align: center;
	margin-top: 8px;
}

.specreq_selected {
	background: #ffff1a;
	font-size: 1.5em;
}

.specreq_selected:hover {
	background: #ffff1a;
	font-size: 1.5em;
}

.col-md-10s {
	width:12.5%;
}

.specreqtab {
	padding: 0;
}

.specreq1 {
	height:60px;
	font-size: 1.5em;
}

.specreq1:active{
	background: #ffff1a !important;
	font-size: 1.5em;
}

.specreq2 {
	height: 80px;
	font-size: 1.5em;
}

.specreq2:active{
	background: #ffff1a !important;
	font-size: 1.5em;
}

.fenmiantab {
	padding: 0;
}

.fenmian1 {
	height:60px;
	font-size: 1.5em;
}











/*Responsive Styles*/
html {
	font-size: 14px;
}

/*----------iPhone------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
	html {
		font-size: 16px;
	}

	h1 {
		font-size: 24px;
		margin-top: 10px;
	}
	.btn-lg {
		padding: 10px;
		font-size: 13px;
	}
	.btn {
		font-size: 13px;
	}
	.fixed-width {
		width: 40px;
	}
	.top-margin-responsive {
		top: 45px;
	}
	.content {
		bottom: 46px;
	}
	.split_select, .cart_split {
		height: 30px;
		padding: 0px;
		font-size: 12px;
		min-width: 50px;
		max-width: 60px;
	}
	#fenmianitem {
		height: 36px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 5680px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.rectangle-table-h-container {
		height: 50px;
	}
	.rectangle-table-v-container {
		height: 80px;
	}
	.landing-form {
		width: 300px;
	}
	.logo {
		width: 90%;
		height: 50px;
	}
	.fenmianbtn, .editspecreq {
		font-size: 14px;
		padding: 1px 5px;
	}
	.table-responsive {
		font-size: 14px;
	}
	.menu-tabs>li>a {
		padding: 9px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.rectangle-table-h-container {
		height: 90px;
	}
	.rectangle-table-v-container {
		height: 180px;
	}
	.logo {
		width: 60%;
		height: 70px;
	}
	.login-form {
		margin: 10px 0;
	}
	.table-responsive {
		font-size: 14px;
	}
}

/*-----------iPad-------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	html {
		font-size: 20px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.rectangle-table-h-container {
		height: 100px;
	}
	.rectangle-table-v-container {
		height: 200px;
	}
	.landing-form {
		width: 600px;
	}
	.logo {
		width: 80%;
		height: 100px;
	}
	.top-margin-responsive {
		top: 55px;
	}
	.table-responsive {
		font-size: 18px;
	}
	.fixed-width {
		width: 60px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.logo {
		width: 80%;
		height: 100px;
	}
	.top-margin-responsive {
		top: 65px;
	}
}